[submodule "vim/colors/dracula"]
	path = dotfiles/vim/colors/dracula
	url = https://github.com/dracula/vim.git
[submodule "vim/pack/jef/start/vim-auto-save"]
	path = dotfiles/vim/pack/jef/start/vim-auto-save
	url = https://github.com/907th/vim-auto-save.git
[submodule "vim/pack/jef/start/nerdtree"]
	path = dotfiles/vim/pack/jef/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim/pack/jef/start/vim-airline"]
	path = dotfiles/vim/pack/jef/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/jef/start/vim-go"]
	path = dotfiles/vim/pack/jef/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "dotfiles/vim/pack/jef/start/vim-surround"]
	path = dotfiles/vim/pack/jef/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotfiles/vim/pack/jef/start/coc"]
	path = dotfiles/vim/pack/jef/start/coc
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "dotfiles/vim/pack/jef/start/vim-toml"]
	path = dotfiles/vim/pack/jef/start/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "dotfiles/vim/pack/jef/start/auto-pairs"]
	path = dotfiles/vim/pack/jef/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "dotfiles/vim/pack/jef/start/vim-devicons"]
	path = dotfiles/vim/pack/jef/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "dotfiles/vim/pack/jef/start/vim-fugitive"]
	path = dotfiles/vim/pack/jef/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "conky/config/conky/conky-vision"]
	path = conky/config/conky/conky-vision
	url = https://github.com/zagortenay333/conky-Vision.git
